/* ## Colors

--primary

-purple: hsl(259, 100%, 65%)
-light-red: hsl(0, 100%, 67%)

--neutral

-white: hsl(0, 0%, 100%)
-off-white: hsl(0, 0%, 94%)
-light-grey: hsl(0, 0%, 86%)
-smokey-grey: hsl(0, 1%, 44%)
-off-black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (inputs): 32px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400i, 700, 800i
 */
/*Setting to zero*/
:root {
  --primary-purple: hsl(259, 100%, 65%);
  --primary-light-red: hsl(0, 100%, 67%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-off-white: hsl(0, 0%, 94%);
  --neutral-light-grey: hsl(0, 0%, 86%);
  --neutral-smokey-grey: hsl(0, 1%, 44%);
  --neutral-off-black: hsl(0, 0%, 8%);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
/* place block to the center */
body,
html {
  /* height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-color: var(--neutral-off-white);
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 15% auto;
  padding: 45px;
  border-radius: 20px 20px 200px 20px;
  background-color: var(--neutral-white);
  width: 640px;
  height: 500px;
  /* min-height: 600px; */
  /* max-width: 58%; */
  /* height: 68%; */
  flex-shrink: 1;
  flex-grow: 1;
  /* max-height: 100%; */
  /* position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );  */
}
.form {
  display: flex;
  flex-direction: row;
}
.input-control {
  /* flex: 1 1 25%; */
  width: 147px;

  /* margin-right: 2%; */
}
.middle {
  margin: 0 2%;
}
label {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--neutral-smokey-grey);
}
input {
  margin: 8px 0;
  padding: 20px;
  width: 84%;
  height: 56px;
  font-size: 1.7em;
  border: 2px solid var(--neutral-off-white);
  border-radius: 10px;
  color: var(--neutral-off-black);
}
input:active {
  border-color: var(--primary-purple);
  cursor: pointer;
}
input:hover {
  border-color: var(--primary-purple);
  cursor: pointer;
}
/* change placeholder-style */
::-moz-placeholder {
  color: hsl(0, 1%, 60%);
  font-weight: 600;
} /* Firefox 19+ */
::-webkit-input-placeholder {
  color: hsl(0, 1%, 60%);
  font-weight: 600;
}
:-moz-placeholder {
  color: hsl(0, 1%, 60%);
  font-weight: 600;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: hsl(0, 1%, 60%);
  font-weight: 600;
}

hr {
  margin: 35px 0;
  border: 1px solid var(--neutral-smokey-grey);
  width: -webkit-fill-available;
  height: 1px;
}
button {
  height: 75px;
  width: 75px;
  background-color: var(--primary-purple);
  border-radius: 100px;
  position: relative;
  top: 80px;
  right: -38px;
  z-index: 1;
}
.outputs {
  margin: 15px 0;
  color: var(--neutral-off-black);
  font-size: 5.4em;
  font-weight: 800;
  font-style: italic;
}
.outputs span {
  color: var(--primary-purple);
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 500px) {
  .container {
    /* margin: 15% auto; */
    padding: 48px 26px;
    border-radius: 20px 20px 200px 20px;
    background-color: var(--neutral-white);
    /* width: 800px; */
    /* height: 630px; */
    /* min-height: 600px; */
    max-width: 92%;
    /* min-height: 68%; */
    /* max-height: 100%; */
    /* position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );  */
  }
  .form {
    /* display: flex; */
    flex-direction: column;
  }
  .input-control {
    /* flex: 1; */
    /* margin-right: 2%; */
    /* width: 150px; */
  }
  label {
    /* text-transform: uppercase; */
    /* letter-spacing: 3px; */
    /* color: var(--neutral-smokey-grey); */
    font-size: 10px;
  }
  input {
    margin: 7px 0;
    padding: 13px;
    width: 90%;
    height: 50px;
    font-size: 1.3em;
    /* border: 2px solid var(--neutral-off-white); */
    border-radius: 7px;
    /* color: var(--neutral-off-black); */
  }
  button {
    /* height: 75px; */
    /* width: 75px; */
    /* background-color: var(--primary-purple); */
    /* border-radius: 100px; */
    /* position: relative; */
    top: 98px;
    right: 50%;
    /* z-index: 1; */
  }
  .outputs {
    /* margin: 15px 0; */
    /* color: var(--neutral-off-black); */
    font-size: 3.4em;
    /* font-weight: 800; */
    /* font-style: italic; */
  }
}
