/*Setting to zero*/
:root {
  --primary-purple: hsl(259, 100%, 65%);
  --primary-light-red: hsl(0, 100%, 67%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-off-white: hsl(0, 0%, 94%);
  --neutral-light-grey: hsl(0, 0%, 86%);
  --neutral-smokey-grey: hsl(0, 1%, 44%);
  --neutral-off-black: hsl(0, 0%, 8%);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
/* error classes */
.error {
  display: block;
  margin: 0 0 1px 0;
  text-align: start;
  font-style: italic;
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
.error-label {
  color: #ff3860;
}
/*--------------------*/
/* useful */
.hidden {
  visibility: hidden;
}
/*--------------------*/
body,
html {
  background-color: var(--neutral-off-white);
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 8% auto;
  padding: 45px;
  border-radius: 20px 20px 200px 20px;
  background-color: var(--neutral-white);
  width: 640px;
  height: 500px;
  flex-shrink: 1;
  flex-grow: 1;
}
.form {
  display: flex;
  flex-direction: row;
}
.input-control {
  width: 147px;
}
.middle {
  margin: 0 2%;
}
label {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--neutral-smokey-grey);
}
input {
  margin: 8px 0;
  padding: 20px;
  width: 84%;
  height: 56px;
  font-size: 1.7em;
  border: 2px solid var(--neutral-off-white);
  border-radius: 10px;
  color: var(--neutral-off-black);
  transition: border-color 0.3s ease-in-out;
}
input:active,
input:hover {
  border-color: var(--primary-purple);
  cursor: pointer;
}
/* change placeholder-style */
::-moz-placeholder {
  color: hsl(0, 1%, 60%);
  font-weight: 600;
} /* Firefox 19+ */
::-webkit-input-placeholder {
  color: hsl(0, 1%, 60%);
  font-weight: 600;
}
:-moz-placeholder {
  color: hsl(0, 1%, 60%);
  font-weight: 600;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: hsl(0, 1%, 60%);
  font-weight: 600;
}

hr {
  margin: 29px 0 40px 0;
  border: 1px solid var(--neutral-smokey-grey);
  width: -webkit-fill-available;
  height: 1px;
}
.arrow {
  background: url(/assets/images/icon-arrow.svg) var(--primary-purple);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px;
  border-radius: 100px;
  padding: 37px;
  height: 17px;
  position: relative;
  top: 74px;
  right: -38px;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
}
.arrow:hover,
.arrow:active {
  cursor: pointer;
  background-color: var(--neutral-off-black);
}
.outputs {
  margin: 15px 0;
  color: var(--neutral-off-black);
  font-size: 5.5em;
  font-weight: 800;
  font-style: italic;
}
.outputs span {
  color: var(--primary-purple);
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 500px) {
  .container {
    margin: 23% auto;
    padding: 52px 24px;
    width: 343px;
  }
  .form {
    display: flex;
    flex-direction: row;
  }
  .input-control {
    width: 103px;
  }
  .middle {
    margin: 0 2%;
  }
  label {
    font-size: 12px;
  }
  input {
    margin: 6px 0;
    padding: 13px;
    height: 54px;
    font-size: 1.3em;
    border-radius: 8px;
  }
  /* change placeholder-style */
  ::-moz-placeholder {
    color: hsl(0, 1%, 60%);
    font-weight: 600;
  } /* Firefox 19+ */
  ::-webkit-input-placeholder {
    color: hsl(0, 1%, 60%);
    font-weight: 600;
  }
  :-moz-placeholder {
    color: hsl(0, 1%, 60%);
    font-weight: 600;
  } /* Firefox 18- */
  :-ms-input-placeholder {
    color: hsl(0, 1%, 60%);
    font-weight: 600;
  }

  hr {
    margin: 57px 0;
  }

  .arrow {
    padding: 32px;
    background-size: 30px;
    top: 103px;
    right: 192px;
  }
  .outputs {
    margin: 69px 0;
    font-size: 3.6em;
  }
  .outputs span {
    color: var(--primary-purple);
  }
}
